@import "tailwindcss";
@import "@frontal/colors/styles/colors.css";

@custom-variant dark (&:is(.dark *));

@custom-variant fixed (&:is(.layout-fixed *));

@theme inline {
	--font-sans: var(--font-figtree);
	--font-mono: var(--font-roboto-mono);

	--breakpoint-xs: 20rem; /* 320px */
	--breakpoint-sm: 30rem; /* 480px */
	--breakpoint-md: 48rem; /* 768px */
	--breakpoint-lg: 64rem; /* 1024px */
	--breakpoint-xl: 80rem; /* 1280px */
	--breakpoint-2xl: 96rem; /* 1536px */
	--breakpoint-3xl: 112rem; /* 1792px */
	--breakpoint-4xl: 128rem; /* 2048px */
	--breakpoint-5xl: 144rem; /* 2304px */
	--breakpoint-6xl: 160rem; /* 2560px */
	--breakpoint-7xl: 176rem; /* 2816px */
	--breakpoint-8xl: 192rem; /* 3072px */
	--breakpoint-9xl: 208rem; /* 3328px */

	--radius-sm: calc(var(--radius) - 4px);
	--radius-md: calc(var(--radius) - 2px);
	--radius-lg: var(--radius);
	--radius-xl: calc(var(--radius) + 4px);

	--font-xs: clamp(0.75rem, 0.875vw, 0.875rem); /* 12px - 14px */
	--font-sm: clamp(0.875rem, 1vw, 1rem); /* 14px - 16px */
	--font-base: clamp(1rem, 1.125vw, 1.125rem); /* 16px - 18px */
	--font-lg: clamp(1.125rem, 1.25vw, 1.25rem); /* 18px - 20px */
	--font-xl: clamp(1.25rem, 1.5vw, 1.5rem); /* 20px - 24px */
	--font-2xl: clamp(1.5rem, 1.75vw, 1.75rem); /* 24px - 28px */
	--font-3xl: clamp(1.875rem, 2.25vw, 2.25rem); /* 30px - 36px */
	--font-4xl: clamp(2.25rem, 2.75vw, 2.75rem); /* 36px - 44px */
	--font-5xl: clamp(2.75rem, 3.5vw, 3.5rem); /* 44px - 56px */
	--font-6xl: clamp(3.5rem, 4.25vw, 4.25rem); /* 56px - 68px */
	--font-7xl: clamp(4.25rem, 5.25vw, 5.25rem); /* 68px - 84px */
	--font-8xl: clamp(5.25rem, 6.5vw, 6.5rem); /* 84px - 104px */
	--font-9xl: clamp(6.5rem, 8vw, 8rem); /* 104px - 128px */

	--leading-sm: 1.5; /* 24px */
	--leading-base: 1.6; /* 25.6px */
	--leading-lg: 1.6; /* 25.6px */
	--leading-xl: 1.6; /* 25.6px */
	--leading-2xl: 1.5; /* 24px */
	--leading-3xl: 1.4; /* 22.4px */
	--leading-4xl: 1.3; /* 20.8px */
	--leading-5xl: 1.2; /* 19.2px */
	--leading-6xl: 1.15; /* 18.4px */
	--leading-7xl: 1.1; /* 17.6px */
	--leading-8xl: 1.05; /* 16.8px */
	--leading-9xl: 1; /* 16px */

	--tracking-sm: -0.01em; /* -0.16px */
	--tracking-base: -0.005em; /* -0.08px */
	--tracking-lg: 0em; /* 0px */
	--tracking-xl: 0.005em; /* 0.08px */
	--tracking-2xl: 0.01em; /* 0.16px */
	--tracking-3xl: 0.015em; /* 0.24px */
	--tracking-4xl: 0.02em; /* 0.32px */
	--tracking-5xl: 0.02em; /* 0.32px */
	--tracking-6xl: 0.015em; /* 0.24px */
	--tracking-7xl: 0.01em; /* 0.16px */
	--tracking-8xl: 0em; /* 0px */
	--tracking-9xl: -0.01em; /* -0.16px */

	--shiny-width: 60px;

	--animate-shiny-text: shiny-text 8s infinite;

	@keyframes shiny-text {
		0%,
		90%,
		100% {
			background-position: calc(-100% - var(--shiny-width)) 0;
		}
		30%,
		60% {
			background-position: calc(100% + var(--shiny-width)) 0;
		}
	}

	@keyframes spinner {
		0% {
			opacity: 1;
		}
		100% {
			opacity: 0.15;
		}
	}

	@keyframes accordion-down {
		from {
			height: 0;
		}
		to {
			height: var(--radix-accordion-content-height);
		}
	}

	@keyframes accordion-up {
		from {
			height: var(--radix-accordion-content-height);
		}
		to {
			height: 0;
		}
	}

	@keyframes fadeIn {
		0% {
			opacity: 0;
			transform: scale(0.8);
		}
		100% {
			opacity: 1;
			transform: scale(1);
		}
	}
}

:root {
	--radius: 0.375rem;
}

@layer base {
	* {
		@apply border-border outline-ring/50;
	}
	::selection {
		@apply bg-selection text-selection-foreground;
	}
	html {
		@apply scroll-smooth;
	}
	body {
		font-synthesis-weight: none;
		text-rendering: optimizeLegibility;
	}

	@supports (font: var(--font-sans)) and (-webkit-appearance: none) {
		[data-wrapper] {
			@apply min-[1800px]:border-t;
		}
	}

	a:active,
	button:active {
		@apply opacity-60 md:opacity-100;
	}
}

@utility theme-container {
	@apply font-sans;
}

@utility no-scrollbar {
	-ms-overflow-style: none;
	scrollbar-width: none;

	&::-webkit-scrollbar {
		display: none;
	}
}

@utility step {
	counter-increment: step;
	@apply relative;

	&:before {
		@apply text-muted-foreground right-0 mr-2 hidden size-7 items-center justify-center rounded-full text-center -indent-px font-mono text-sm font-medium md:absolute;
		content: counter(step);
	}
}

@utility extend-touch-target {
	@media (pointer: coarse) {
		@apply relative touch-manipulation after:absolute after:-inset-2;
	}
}

@layer components {
	.steps {
		&:first-child {
			@apply !mt-0;
		}

		&:first-child > h3:first-child {
			@apply !mt-0;
		}

		> h3 {
			@apply !mt-16;
		}

		> h3 + p {
			@apply !mt-2;
		}
	}

	[data-rehype-pretty-code-figure] {
		background-color: var(--color-card);
		color: var(--color-card-foreground);
		border-radius: var(--radius-lg);
		border-width: 1px;
		border-color: var(--color-border);
		margin-top: calc(var(--spacing) * 6);
		overflow: hidden;
		font-size: var(--text-sm);
		outline: none;
		position: relative;
		@apply -mx-1 md:-mx-1;

		&:has([data-rehype-pretty-code-title]) [data-slot="copy-button"] {
			top: calc(var(--spacing) * 1.5);
		}
	}

	[data-rehype-pretty-code-title] {
		border-bottom: color-mix(in oklab, var(--border) 30%, transparent);
		border-bottom-width: 1px;
		border-bottom-style: solid;
		padding-block: calc(var(--spacing) * 2.5);
		padding-inline: calc(var(--spacing) * 4);
		font-size: var(--text-sm);
		font-family: var(--font-mono);
		color: var(--color-code-foreground);
	}

	[data-line-numbers] {
		display: grid;
		min-width: 100%;
		white-space: pre;
		border: 0;
		background: transparent;
		padding: 0;
		counter-reset: line;
		box-decoration-break: clone;
	}

	[data-line-numbers] [data-line]::before {
		font-size: var(--text-sm);
		counter-increment: line;
		content: counter(line);
		display: inline-block;
		width: calc(var(--spacing) * 16);
		padding-right: calc(var(--spacing) * 6);
		text-align: right;
		color: var(--color-code-number);
		background-color: var(--color-code);
		position: sticky;
		left: 0;
	}

	[data-line-numbers] [data-highlighted-line][data-line]::before {
		background-color: var(--color-code-highlight);
	}

	[data-line] {
		padding-top: calc(var(--spacing) * 0.5);
		padding-bottom: calc(var(--spacing) * 0.5);
		min-height: calc(var(--spacing) * 1);
		width: 100%;
		display: inline-block;
	}

	[data-line] span {
		color: var(--shiki-light);

		@variant dark {
			color: var(--shiki-dark);
		}
	}

	[data-highlighted-line],
	[data-highlighted-chars] {
		position: relative;
		background-color: var(--color-code-highlight);
	}

	[data-highlighted-line] {
		&:after {
			position: absolute;
			top: 0;
			left: 0;
			width: 2px;
			height: 100%;
			content: "";
			background-color: color-mix(
				in oklab,
				var(--muted-foreground) 50%,
				transparent
			);
		}
	}

	[data-highlighted-chars] {
		border-radius: var(--radius-sm);
		padding-inline: 0.3rem;
		padding-block: 0.1rem;
		font-family: var(--font-mono);
		font-size: 0.8rem;
	}
}
